[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = master
[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
	branch = master
[submodule "meta-xilinx"]
	path = meta-xilinx
	url = https://github.com/balister/meta-xilinx.git
	branch = master-minized
[submodule "meta-n3z"]
	path = meta-n3z
	url = https://github.com/balister/meta-n3z.git
